*.rpm
hpc/Vagrantfile
#
# compiled file
*.o
*.i
*.cmi
*.cmo

# executables
*.out
*.exe

# Data and logs
*.log*
data
*.tar.gz
*.trs
*.bak
train
dev
test

*.txt
*.o
*.g

*.out
*.exe
core.*
vgcore.*

*.cmake
*.make

*.i
*.ii
*.s
*.S
*.a
*.so

