body{
    background: #ffffff;
    text-align: center;
}

#infoTable{
    width: 600px;
    margin: auto auto auto auto;
    vertical-align: middle;
}
.tdCss{
    padding: 0px;
    width: 16px;
    height: 20px;
    font-size: 30px;
}

#infoTable .table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#infoTable .table {
width: 100%;
margin-bottom: 20px;
border-collapse: separate;
border-spacing: 1px;
border-color: gray;
border: 1px solid #bdc3c7;
}

#infoTable .table td{
    padding: 0px;
    text-align: center;
}

.numCss{
    margin-top:100px;
}
.inputTd{
    padding: 0px;
    width: 30px;
    height: 40px;
    font-size: 30px;
    color: #0077b3;
    border: 0px;
    border-radius: 6px;
    display: inline;
    padding: 0px 5px;
    vertical-align: middle;
}
