<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
{#<link href="/static/css/bootstrap.css" rel="stylesheet" />#}
{#<link href="/static/css/theme.css" rel="stylesheet" />#}
{#<link href="/static/css/common.css" rel="stylesheet" />#}
<link href="/static/css/common1.css" rel="stylesheet" />
{% block css %}{% endblock %}
{% block js %}{% endblock %}
<script type="text/javascript" src="/static/js/jquery.js" ></script>
<body>
{#{% include "include/title.html" %}#}
{#导航模块#}
{% block nav %}{% endblock %}
<br />
{#搜索模块#}
{% block searchBlock %}
{% endblock %}
{#注册模块#}
{% block registerBlock %}
{% endblock %}
{#数据模块#}
<br />
{% block data %}{% endblock %}
<br />
{#底部模块#}
{% block footer %}{% endblock %}
{#javascript 脚本区#}
{% block script %}{% endblock %}
</body>
</html>