<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>数独</title>
        <link rel="stylesheet" type="text/css" href="static/home.css">
        <script src="/static/jquery.js" type="text/javascript"></script>
        <script src="/static/layer.min.js" type="text/javascript"></script>
        <script src="/static/sudoku.js" type="text/javascript"></script>  
        <script type="text/javascript">
            function foo() {

                var str = 5;
                var frm = window.event.srcElement;
                frm.hid.value = str;
                return true;
            }
            function foo2() {

                var str = 7;
                var frm2 = window.event.srcElement;
                frm2.hid2.value = str;
                return true;
            }
            function foo3() {

                var str = 9;
                var frm3 = window.event.srcElement;
                frm3.hid3.value = str;
                return true;
            }
            
        </script>
    </head>
    <body>
<br>
        <div>
            <h1>CRAZY SUKUDO</h1>
        
        <img style="left:150px" src="static/home2.jpg" id="leftimage"/>
        <form name="frm1" id="frm1" method="get" action="/game/" onsubmit="return foo()3"> 
            <input type="hidden" id="hid" name="hid"> 
            <input type="submit" value="开始游戏" ><br><br><br><br>
            <input type="button" value="游戏说明"id="instruct"onclick="showInstruct()">
        </form>
</div>
        

    <!-- 
        <form name="frm2" id="frm2" method="get" action="/game/" onsubmit="return foo2()"> 
            <input type="hidden" id="hid2" name="hid"> 
            <input type="submit" value="MIDUAM MODE"> 
        </form> 
        <form name="frm3" id="frm3" method="get" action="/game/" onsubmit="return foo3()"> 
            <input type="hidden" id="hid3" name="hid"> 
            <input type="submit" value="TOUGH MODE"> 
        </form> 
    -->
    </body>
</html>
